{% extends 'admin/base_site.html' %}

{% block content %}

<div class="container">
  <h1>THỐNG KÊ HỆ THỐNG</h1>

  <h2>Thống kê người dùng</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Month</th>
          <th>Active Hosts</th>
          <th>Not Active Hosts</th>
          <th>Active Users</th>
          <th>Not Active Users</th>
        </tr>
      </thead>
      <tbody>
        {% for u in stats_user_role_by_year %}
        <tr>
          <td>{{ u.year }}</td>
          <td>{{ u.active_users_role_is_host }}</td>
          <td>{{ u.not_active_users_role_is_host }}</td>
          <td>{{ u.active_users_role_is_user }}</td>
          <td>{{ u.not_active_users_role_is_user }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [];
    let values = [];

    {% for c in stats %}
    values.push({{ c.count }})
    labels.push('{{ c.name }}')
    {% endfor %}

    window.onload = () => {
        const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ['aaaaaa','bbbbbbbbb'],
          datasets: [{
            label: '# So luong',
            data: ['3','6'],
            borderWidth: 1,
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
            ]
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>

{% endblock %}
