{% extends 'admin/base_site.html' %}

{% block content %}
<h1>THÔNG KÊ HE THONG</h1>

<ul>
    {% for c in stats %}
        <li>DIA CHI <strong>{{ c.address }}</strong>: {{ c.count_images }} HINH</li>
    {% endfor %}
</ul>

<h2>Thong tin cac nha tro</h2>
<ul>
    {% for h in houses %}
        <li>{{h.id}} - {{h.address}} - {{h.price}}</li>
    {% endfor %}
</ul>

<h2>Thong tin nguoi dung</h2>
<ul>
    {% for u in users %}
        <li>{{u.id}} - {{u.username}} - <img src="{{u.avatar.url}}"></li>
    {% endfor %}
</ul>

<h2>Thong ke nguoi dung</h2>
<ul>
    {% for u in statsUser %}
        <li>{{u.rolename}} : {{u.count_users}} người</li>
    {% endfor %}
</ul>
<canvas id="myChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [];
    let values = [];

    {% for c in statsUser %}
    values.push({{ c.count_users }})
    labels.push('{{ c.role_name }}')
    {% endfor %}

    window.onload = () => {
        const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: '# So luong',
            data: values,
            borderWidth: 1,
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
            ]
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>
{% endblock %}
